.mainIndex {
  background-image: url(../../public/assets/forestBG.jpg);
  background-size: cover;
  background-repeat: round;
}
.loadingIndex {
  img {
    animation-name: spin8932;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    width: 25%;
  }
}
