/* Color Pallete */

$primaryColorRed: #a991f7;
$primaryColorRedTrans: #f6d860;
$primaryColorBlack: #37cdbe;
$primaryColorSemiWhite: #3d4451;
$primaryColorWhite: #ffffff;
$neutral: hsl(257 63% 17%/1);

/* Media Querys */
// Tamaño de Media Queries
$telefono: 480px;
$telefono-x: 767px;
$tablet: 768px;
$tablet-x: 810px;
$desktop: 1024px;
$desktop-l: 1280px;
$desktop-xl: 1440px;
$desktop-fhd: 1920px;
$desktop-4k: 2560px;
