@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./pages/login.scss";
@import "./pages/dashboard.scss";

@import "./components/progress.scss";

@import "./components/layout.scss";

@import "./Base/mixins";
@import "./Base/variables";

@import "./animations/animations.scss";

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: transparent;
  }

  &::-webkit-scrollbar {
    height: 9.75px;
    width: 10px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #000000;
    border: 2px solid #ffffff;
  }
}

.report-style-class {
  height: 80vh;
}
